.git
.gitignore
.gitattributes
.github

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

.venv
venv
.env

out_dir
output
logs
saved
temp
course_reports
web_data
.translation_cache

*.log
*.zip
*.mp4
*.mkv
*.ts
*.m4s
*.mpd
*.m3u8
*.srt
*.vtt
